@model MaturityDAL.Models.Question

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Function)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Function.FunctionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
